{% include 'header.html' %}

<style>
    * {
        box-sizing: border-box;
    }

    input[type="file"]::file-selector-button {
        color: white;
        padding: 10px 20px;
        border-radius: 30px;
        background-color: #4583de;
        border: none;
        outline: none;
    }

    .sub {
        color: white;
        padding: 15px 25px;
        border-radius: 30px;
        background-color: #4583de;
        border: none;
        outline: none;
    }

    .section {
        position: relative;
        height: 100vh;
    }

    .section .section-center {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #booking {
        font-family: "PT Sans", sans-serif;
        background-image: url("../img/background.jpg");
        background-size: cover;
        background-position: center;
    }

    .booking-form {
        background: whitesmoke;
        padding: 40px;
        border-radius: 25px;
    }

    .booking-form .form-group {
        position: relative;
        margin-bottom: 20px;
    }

    .booking-form .form-control {
        background-color: #fff;
        height: 50px;
        color: #191a1e;
        border: none;
        font-size: 16px;
        font-weight: 400;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 40px;
        padding: 0px 25px;
    }

    .booking-form .form-control::-webkit-input-placeholder {
        color: rgba(82, 82, 84, 0.4);
    }

    .booking-form .form-control:-ms-input-placeholder {
        color: rgba(82, 82, 84, 0.4);
    }

    .booking-form .form-control::placeholder {
        color: rgba(82, 82, 84, 0.4);
    }

    .booking-form input[type="date"].form-control:invalid {
        color: rgba(82, 82, 84, 0.4);
    }

    .booking-form select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .booking-form select.form-control+.select-arrow {
        position: absolute;
        right: 10px;
        bottom: 6px;
        width: 32px;
        line-height: 32px;
        height: 32px;
        text-align: center;
        pointer-events: none;
        color: rgba(0, 0, 0, 0.3);
        font-size: 14px;
    }

    .booking-form select.form-control+.select-arrow:after {
        content: "\279C";
        display: block;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .booking-form .form-label {
        display: block;
        margin-left: 20px;
        margin-bottom: 5px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 24px;
        height: 24px;
        font-size: 14px;
        color: black;
    }

    .booking-form .form-checkbox input {
        position: absolute !important;
        margin-left: -9999px !important;
        visibility: hidden !important;
    }

    .booking-form .form-checkbox label {
        position: relative;
        padding-top: 4px;
        padding-left: 30px;
        font-weight: 400;
        color: black;
    }

    .booking-form .form-checkbox label+label {
        margin-left: 15px;
    }

    .booking-form .form-checkbox input+span {
        position: absolute;
        left: 2px;
        top: 4px;
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 50%;
    }

    .booking-form .form-checkbox input+span:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0px;
        height: 0px;
        border-radius: 20px;
        background-color: #3eb0f2;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .booking-form .form-checkbox input:not(:checked)+span:after {
        opacity: 0;
    }

    .booking-form .form-checkbox input:checked+span:after {
        opacity: 1;
        width: 10px;
        height: 10px;
    }

    .booking-form .form-btn {
        margin-top: 27px;
    }

    .booking-form .submit-btn {
        color: #fff;
        background-color: #3eb0f2;
        font-weight: 400;
        height: 50px;
        font-size: 14px;
        border: none;
        width: 100%;
        border-radius: 40px;
        text-transform: uppercase;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

    .booking-form .submit-btn:hover,
    .booking-form .submit-btn:focus {
        opacity: 0.9;
    }

    @media screen and (max-width: 600px) {

        .col-6,
        .col-4 {
            min-width: 100%;
            margin-top: 0;
        }

        .booking-form {
            padding-top: 30vh;
            align-items: center;
            align-self: center;
        }
    }
</style>

<body>

    {% include 'owner/nav.html' %}

    <div id="about" class="places-info section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 align-self-center">
                    <div class="section-heading">
                        <h4><em>Add</em> New Place</h4>
                        <img src="{{ url_for('static', filename='assets/images/heading-line-dec.png') }}" alt="">
                    </div>

                    <div id="booking" class="section">
                        <div class="section-center">
                            <div class="container">
                                <div class="row">
                                    <div class="booking-form">
                                        <form action="/owner_new_place" method="POST" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <span class="form-label">Name of Property:</span>
                                                <!-- <label for="cc-payment" class="control-label mb-1">Name of Property:</label> -->
                                                <input id="cc-payment" name="propertyname" type="text"
                                                    placeholder="eg. RadhaKrishna Restrarant" class="form-control"
                                                    required />
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <span class="form-label">Add Photo of Property:</span>
                                                    <!-- <label for="file-multiple-input" class=" form-control-label">Add Photo of Property:</label> -->
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="file" accept="image/*" id="file-multiple-input"
                                                        name="propertypic" class="form-control-file" required />
                                                </div>
                                            </div>

                                            <div class="form-group has-success">
                                                <span class="form-label">Name of Owner:</span>
                                                <!-- <label for="cc-name" class="control-label mb-1">Name of Owner:</label> -->
                                                <input id="cc-name" name="cc-name" type="text"
                                                    placeholder="eg. Nilesh Patel" class="form-control cc-name valid"
                                                    readonly value="{{rs[1]}}" />
                                            </div>

                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <span class="form-label">Shop No. / Building / Street:</span>
                                                        <!-- <label for="cc-number" class="control-label mb-1">Shop No. / Building /
                                                                Street:</label> -->
                                                        <input id="cc-exp" name="shop" type="text"
                                                            class="form-control cc-exp"
                                                            placeholder="eg. Shop no. 403, Empire Building, Shivaji Chowk"
                                                            required />
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <span class="form-label">City:</span>
                                                    <!-- <label for="x_card_code" class="control-label mb-1">City:</label> -->
                                                    <div class="input-group">
                                                        <input id="cc-exp" name="city" type="text"
                                                            class="form-control cc-exp" placeholder="eg. Kalyan"
                                                            required />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <span class="form-label">State:</span>
                                                        <select name="state" id="select" class="form-control" required>
                                                            <option value="" disabled selected hidden>
                                                                Select State
                                                            </option>
                                                            <option value="andhrapradesh">
                                                                Andhra Pradesh
                                                            </option>
                                                            <option value="arunachalpradesh">
                                                                Arunachal Pradesh
                                                            </option>
                                                            <option value="assam">Assam</option>
                                                            <option value="bihar">Bihar</option>
                                                            <option value="chhattisgarh">
                                                                Chhattisgarh
                                                            </option>
                                                            <option value="goa">Goa</option>
                                                            <option value="gujarat">Gujarat</option>
                                                            <option value="haryana">Haryana</option>
                                                            <option value="himachalpradesh">
                                                                Himachal Pradesh
                                                            </option>
                                                            <option value="jammukashmir">
                                                                Jammu and Kashmir
                                                            </option>
                                                            <option value="jharkhan">Jharkhand</option>
                                                            <option value="karnataka">Karnataka</option>
                                                            <option value="kerala">Kerala</option>
                                                            <option value="madhyapradesh">
                                                                Madhya Pradesh
                                                            </option>
                                                            <option value="maharashtra">Maharashtra</option>
                                                            <option value="manipur">Manipur</option>
                                                            <option value="meghalaya">Meghalaya</option>
                                                            <option value="mizoram">Mizoram</option>
                                                            <option value="nagaland">Nagaland</option>
                                                            <option value="orissa">Orissa</option>
                                                            <option value="punjab">Punjab</option>
                                                            <option value="rajasthan">Rajasthan</option>
                                                            <option value="sikkim">Sikkim</option>
                                                            <option value="tamilnadu">Tamil Nadu</option>
                                                            <option value="telangana">Telangana</option>
                                                            <option value="tripura">Tripura</option>
                                                            <option value="uttarpradesh">
                                                                Uttar Pradesh
                                                            </option>
                                                            <option value="uttarakhand">Uttarakhand</option>
                                                            <option value="westbengal">West Bengal</option>
                                                        </select>
                                                        <span class="select-arrow"></span>
                                                    </div>
                                                    <br />
                                                </div>
                                                <div class="col-4">
                                                    <span class="form-label">Pincode:</span>
                                                    <!-- <label for="x_card_code" class="control-label mb-1">Pincode:</label> -->
                                                    <div class="input-group">
                                                        <input id="x_card_code" name="pincode" type="tel"
                                                            class="form-control cc-cvc" placeholder="eg. 411016"
                                                            required />
                                                    </div>
                                                    <br />
                                                </div>
                                                <div class="col-4">
                                                    <span class="form-label">Contact No:</span>
                                                    <!-- <label for="x_card_code" class="control-label mb-1">Contact No:</label> -->
                                                    <div class="input-group">
                                                        <input id="x_card_code" name="telephone" type="tel"
                                                            class="form-control cc-cvc" placeholder="eg. 9812314721"
                                                            required />
                                                    </div>
                                                    <br />
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-6">
                                                    <span class="form-label">Venue Type:</span>
                                                    <!-- <label for="x_card_code" class="control-label mb-1">Venue Type:</label> -->
                                                    <select name="place" id="places" class="form-control" required>
                                                        <option value="" disabled selected hidden>
                                                            Select Venue Type
                                                        </option>
                                                        <option value="hotel">Hotels</option>
                                                        <option value="cinema">Cinema Theatres</option>
                                                        <option value="garden">Gardens & Parks</option>
                                                        <option value="malls">Malls</option>
                                                    </select>
                                                    <span class="select-arrow"></span>
                                                </div>
                                                <div class="col-6">
                                                    <span class="form-label">Please select the facilities that you
                                                        have:</span>
                                                    <!-- <label class=" form-control-label">Please select the facilities that you have:</label> -->
                                                    <button type="button" class="btn dropdown-toggle col-10"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" style="
                                                    background-color: #fff;
                                                    height: 50px;
                                                    color: #191a1e;
                                                    border: none;
                                                    font-size: 16px;
                                                    font-weight: 400;
                                                    -webkit-box-shadow: none;
                                                    box-shadow: none;
                                                    border-radius: 40px;
                                                    padding: 0px 25px;
                                                  ">
                                                        Select
                                                    </button>
                                                    <div class="dropdown-menu col-10" id="facilities"></div>

                                                    <style>
                                                        .dropdown-menu input {
                                                            margin: 0 10px;
                                                        }
                                                    </style>

                                                    <script>
                                                        $("#places").on("change", function () {
                                                            console.log($("#places").val());
                                                            $("#facilities").html("");
                                                            if ($("#places").val() == "hotel") {
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="doors"><label for="1">Automatic Doors</label> <br>'
                                                                );
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="entryspace"><label for="1">Wheelchair Entry Space</label> <br>'
                                                                );
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="slip"><label for="1">Slip Resistant flooring</label> <br>'
                                                                );
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="toilets"><label for="1">Wheelchair Friendly Toilets</label> <br>'
                                                                );
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="ramp"><label for="1">Slope/Ramps/Lifts</label> <br>'
                                                                );
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="sign"><label for="1">Employee trained with Sign Language</label> <br>'
                                                                );
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="blocks"><label for="1">Guiding blocks for person with impaired vision</label> <br>'
                                                                );
                                                            } else if ($("#places").val() == "garden") {
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="seating"><label for="1">Plenty of Seating facilities</label> <br>'
                                                                );
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="v"><label for="1">Information board in Braille</label> <br>'
                                                                );
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="signages"><label for="1">Information board in Audible Signages</label> <br>'
                                                                );
                                                            } else if ($("#places").val() == "malls") {
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="doors"><label for="1">Automatic Doors</label> <br>'
                                                                );
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="slip"><label for="1">Slip Resistant flooring</label> <br>'
                                                                );
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="toilets"><label for="1">Wheelchair Friendly Toilets</label> <br>'
                                                                );
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="ramp"><label for="1">Slope/Ramps/Lifts</label> <br>'
                                                                );
                                                            } else if ($("#places").val() == "cinema") {
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="walkingsupport"><label for="1">Handrail for walking support</label> <br>'
                                                                );
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="seats"><label for="1">Pre-reserve Seats</label> <br>'
                                                                );
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="doors"><label for="1">Automatic Doors</label> <br>'
                                                                );
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="slip"><label for="1">Slip Resistant flooring</label> <br>'
                                                                );
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="toilets"><label for="1">Wheelchair Friendly Toilets</label> <br>'
                                                                );
                                                                $("#facilities").append(
                                                                    '<input type="checkbox" name="check" id="1" value="ramp"><label for="1">Slope/Ramps/Lifts</label> <br>'
                                                                );
                                                            }
                                                        });
                                                    </script>
                                                </div>
                                            </div>

                                            <div class="text-center">
                                                <button id="submit-button" type="submit" class="sub">
                                                    <span id="payment-button-amount">Submit</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</body>

</html>